<html>
<head>
    <script src="~/js/lib/jquery/jquery-3.3.1.js"></script>
</head>
<body>
    <input type="button" value="Call AJAX Service requete" onclick="callServiceRequete();" />
</body>


<script type="text/javascript">
    function callServiceRequete() {
        $.get("http://localhost:5001/Test/GetSomething", function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        });
    }
</script>




</html>